*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 110vh;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
}

header > .header-top {
  grid-template-columns: repeat(2, 1fr);
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
header > .menu {
  position: absolute;
  height: 100vh;
  width: 20%;
  background-color: #434343;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
header > .menu > .close {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 1.5rem;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
header > .menu > ul > li > a {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  color: #fff;
  font-size: 1.5rem;
}
header > .header-top > .logo {
  display: flex;
  padding-left: 200px;
}
header > .header-top > .logo > figure {
  width: 100%;
  display: flex;
  align-items: center;
}
header > .header-top > .logo > figure > img {
  width: 80px;
}
header > .header-top > .menu-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 200px;
  font-size: 25px;
  cursor: pointer;
}
header > .header-top > .menu-icon > i {
  cursor: pointer;
}
header > .header-pic {
  grid-row: 3 / span 18;
  background-image: url(img/Pink_BkgBlob.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
}
header > .header-pic > article {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header > .header-pic > article > figure {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  grid-column: 3 / span 1;
}
header > .header-pic > article > figure > img {
  width: 550px;
  height: 550px;
  object-fit: cover;
  border-radius: 50%;
}
header > .header-pic > article > .topic {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  grid-column: 1 / span 2;
}
header > .header-pic > article > .topic > section {
  width: 60%;
}
header > .header-pic > article > .topic > section > * {
  text-align: center;
}
header > .header-pic > article > .topic > section > h1,
header > .header-pic > article > .topic > section > h3 {
  font-size: 4rem;
  text-shadow: 0 0 10px #bdbaba;
  color: #fff;
  padding-bottom: 20px;
}
header > .header-pic > article > .topic > section > h3 {
  font-size: 1.5rem;
  font-weight: normal;
}
header > .header-pic > article > .topic > section > p {
  color: #fff;
}
main {
  width: 100%;
}
main > section {
  width: 100%;
  height: 120vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(14, 1fr);
  padding: 0 20px;
}

main > section > h1 {
  grid-area: 1/1 / span 2 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: #f45151;
}
main > section > p {
  grid-area: 3 / 1 / span 3 / span 1;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #6d6d6d;
}

main > section > div {
  background-size: cover;
  background-position: 30% 20%;
}
main > section > div:nth-of-type(1) {
  grid-area: 2 /3 / span 7 / span 1;
  background-image: url(img/3.jpg);
}
main > section > div:nth-of-type(2) {
  grid-area: 7/1 / span 5 / span 1;
  background-image: url(img/1.jpg);
}
main > section > div:nth-of-type(3) {
  grid-area: 5/2 / span 10 / span 1;
  background-image: url(img/2.jpg);
}
main > section > section.gallery-text {
  grid-area: 9/3 / span 4 / span 1;
  background-color: #f45151;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
main > section > section.gallery-text > * {
  width: 80%;
  font-size: 1.5rem;
  color: #fff;
}
main > article {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 30px;
}

main > article > div.pic {
  background-image: url(img/cocktail.jpeg);
  background-size: cover;
  background-position: center;
}
main > article > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > article > div > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main > article > div > section > * {
  width: 100%;
  text-align: center;
}
main > article > div > section > span {
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
main > article > div > section > h2 {
  font-size: 3rem;
  width: 60%;
  color: #f45151;
  padding-bottom: 50px;
  border-bottom: 20px solid #f1c50e;
  margin-bottom: 30px;
}
.ice-back {
  margin-top: -30px;
  width: 100%;
  height: 70vh;
  background-image: url(img/icecreams.jpeg);
  background-size: cover;
  background-position: 10% 20%;
  display: flex;
  flex-wrap: wrap;
}
.ice-back > * {
  text-shadow: 0 0 10px #bdbaba;
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  padding-right: 140px;
}
.ice-back > h2 {
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.ice-back > p {
  display: block;
  font-size: 2rem;
  text-align: right;
  padding-right: 230px;
}
.child {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.child > figure {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.child > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.child > .circle1 {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f45151;
  position: absolute;
  left: 20%;
  top: 10%;
}
.child > .circle2 {
  width: 100px;
  height: 100px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  top: 50%;
}
.child > section {
  position: absolute;
  right: 150px;
  width: 25%;
  background-color: #f8d2ca;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.child > section > h2 {
  color: #f45151;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.child > section > p {
  line-height: 2rem;
  text-align: center;
  padding-bottom: 30px;
}
.child > section > button {
  width: 150px;
  height: 45px;
  border: none;
  background-color: #f45151;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #f45151;
  cursor: pointer;
}
.child > section > button:hover {
  background-color: transparent;
  color: #f45151;
}
.gallery {
  width: 100%;
  height: 100vh;
}
.gallery > h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #f45151;
  padding-bottom: 30px;
}
.gallery > section {
  width: 100%;
  height: calc(100% - 90px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2.1fr);
}

.gallery > section > div {
  background-size: cover;
  background-position: 20% 30%;
  transition: 0.4s;
}
.gallery > section > div:hover {
  background-position: center;
}
.gallery > section > div:nth-of-type(1) {
  background-image: url(img/g1.jpg);
}
.gallery > section > div:nth-of-type(2) {
  background-image: url(img/g2.jpg);
}
.gallery > section > div:nth-of-type(3) {
  background-image: url(img/g3.jpg);
}
.gallery > section > div:nth-of-type(4) {
  background-image: url(img/g4.jpg);
}
.gallery > section > div:nth-of-type(5) {
  background-image: url(img/g5.jpg);
}
.gallery > section > div:nth-of-type(6) {
  background-image: url(img/g6.jpg);
}
.gallery > section > div:nth-of-type(7) {
  background-image: url(img/g7.jpg);
}
.gallery > section > div:nth-of-type(8) {
  background-image: url(img/g8.jpg);
}
.user {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user > h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px;
  font-size: 3rem;
  color: #f45151;
}
.user > section {
  width: 80%;
  padding: 30px;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f8d2ca;
}
.user > section > * {
  margin: -90px 20px 0 20px;
}
.user > section > div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #bdbaba;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.user > section > div > * {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user > section > div > figure > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ffbfb3;
}
.user > section > div > p {
  font-size: 18px;
  color: #6d6d6d;
}
.user > section > div > span:nth-of-type(2) {
  color: #6d6d6d;
}
.contact {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 30px 0;
  position: relative;
  margin-bottom: 50px;
}
.contact > figure {
  width: 50%;
  position: absolute;
  right: 25px;
}
.contact > figure > img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}
.contact > form {
  width: 40%;
  background-color: #fff;
  box-shadow: 0 0 10px #bdbaba;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  position: absolute;
  top: 150px;
  left: 10%;
  z-index: 2;
}
.contact > form > input,
.contact > form > textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  margin-top: 20px;
}
.contact > form > input:focus,
.contact > form > textarea:focus {
  box-shadow: 0 0 10px pink;
  border: none;
}
.contact > form > h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.contact > form > button {
  width: 100%;
  height: 45px;
  margin-top: 30px;
  background-color: #f45151;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
footer {
  width: 100%;
  height: 100px;
  background-color: #434343;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
footer > * {
  width: 100%;
  text-align: center;
  color: #ffbfb3;
}
